body {
    margin: 0%;
    font-family: cursive;
    font-size: large;
    background-color: #ffe4c4;
}
/* border around text */
ul.border {
    border-style: dashed;
}
/* border around text */
ol.border {
    border-style: dashed;
}
/* ronuded corner images  */
img{
    border-radius: 30px;
}